<div class="home">
    <section class="container-fluid main-container container-home p-0 revealator-slideup revealator-once revealator-delay1">
      <div class="color-block d-none d-lg-block"></div>
      <div class="row home-details-container align-items-center">
        
        <!-- Desktop Left-Side Image (hidden on small) -->
        <div class="col-lg-4 d-none d-lg-block position-fixed bg">
          <img [src]="imagePath" class="img-fluid" style="padding-top: 8.5%;" alt="my picture">
        </div>
  
        <!-- Main Content -->
        <div class="col-12 col-lg-8 offset-lg-4 home-details text-center text-lg-left">
          <div>
  
            <!-- Mobile Image -->
            <img [src]="imagePath" class="img-fluid main-img-mobile mt-5 d-block d-lg-none mb-3" alt="my picture" />
  
            <h1 class="text-uppercase poppins-font">
              I'm Muhammed Fathah.<br><span>Web Developer</span>
            </h1>
            <p class="summary open-sans-font">
              I'm a MEAN stack developer passionate about building clean, responsive, and user-friendly web applications...
            </p>
            <a class="button" [routerLink]="['/about']">
              <span class="button-text">more about me</span>
              <span class="button-icon fa fa-arrow-right"></span>
            </a>
  
          </div>
        </div>
  
      </div>
    </section>
  </div>
  