<div class="contact">
    <section class="title-section text-left text-sm-center revealator-slideup revealator-once revealator-delay1">
        <h1>get in <span>touch</span></h1>
        <span class="title-bg">contact</span>
    </section>
    <!-- Page Title Ends -->
    <!-- Main Content Starts -->
    <section class="main-content revealator-slideup revealator-once revealator-delay1">
        <div class="container">
            <div class="row">
                <!-- Left Side Starts -->
                <div class="col-12 col-lg-4">
                    <h3 class="text-uppercase custom-title mb-0 ft-wt-600 pb-3">Don't be shy !</h3>
                    <p class="open-sans-font mb-3">Feel free to get in touch with me. I am always open to discussing new projects, creative ideas or opportunities to be part of your visions.</p>
                    <p class="open-sans-font custom-span-contact position-relative">
                        <i class="fa fa-envelope-open position-absolute"></i>
                        <span class="d-block">mail me</span>muhammedfathahofficial&#64;gmail.com
                    </p>
                    <p class="open-sans-font custom-span-contact position-relative">
                        <i class="fa fa-phone-square position-absolute"></i>
                        <span class="d-block">call me</span>+91 7034061007
                    </p>
                    <ul class="social list-unstyled pt-1 mb-5">
                        <!-- <li class="facebook"><a title="Facebook" href="#"><i class="fa fa-facebook"></i></a>
                        </li> -->
                        <li class="github"><a title="Github" href="https://github.com/mhd-fathah"><i class="fa fa-github"></i></a>
                        </li>
                        <li class="linkedin"><a title="Linkedin" href="https://www.linkedin.com/in/muhammed-fathah"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <!-- <li class="youtube"><a title="Youtube" href="#"><i class="fa fa-youtube"></i></a>
                        </li> -->
                        <li class="instagram"><a title="Instagram" href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- Left Side Ends -->
                <!-- Contact Form Starts -->
                <div class="col-12 col-lg-8">
                    <form class="contactform" #contactForm="ngForm" (ngSubmit)="sendEmail(contactForm)">
                        <div class="contactform">
                          <div class="row">
                      
                            <!-- Name Field -->
                            <div class="col-12 col-md-4">
                              <input type="text" name="name" ngModel required minlength="3" #name="ngModel" placeholder="YOUR NAME">
                              <div *ngIf="name.invalid && name.touched" class="text-danger small">
                                <span *ngIf="name.errors?.['required']">Name is required</span>
                                <span *ngIf="name.errors?.['minlength']">Minimum 3 characters</span>
                              </div>
                            </div>
                      
                            <!-- Email Field -->
                            <div class="col-12 col-md-4">
                              <input type="email" name="email" ngModel required email #email="ngModel" placeholder="YOUR EMAIL">
                              <div *ngIf="email.invalid && email.touched" class="text-danger small">
                                <div *ngIf="email.errors?.['required']">Email is required</div>
                                <div *ngIf="email.errors?.['email']">Enter a valid email</div>
                              </div>
                            </div>
                      
                            <!-- Subject Field -->
                            <div class="col-12 col-md-4">
                              <input type="text" name="title" ngModel required #title="ngModel" placeholder="YOUR SUBJECT">
                              <div *ngIf="title.invalid && title.touched" class="text-danger small">
                                <div *ngIf="title.errors?.['required']">Subject is required</div>
                              </div>
                            </div>
                      
                            <!-- Message Field -->
                            <div class="col-12">
                              <textarea name="message" ngModel required minlength="10" #message="ngModel" placeholder="YOUR MESSAGE"></textarea>
                              <div *ngIf="message.invalid && message.touched" class="text-danger small">
                                <div *ngIf="message.errors?.['required']">Message is required</div>
                                <div *ngIf="message.errors?.['minlength']">Minimum 10 characters</div>
                              </div>
                      
                              <!-- Submit Button -->
                              <button [disabled]="contactForm.invalid || isSubmitting" type="submit" class="button">
                                <span class="button-text">{{isSubmitting ? 'Sending Message...' : 'Send Message'}}</span>
                                <span class="button-icon fa fa-send"></span>
                              </button>
                            </div>
                      
                            <!-- Output Message -->
                            <div class="col-12 form-message">
                              <span class="output_message text-center font-weight-600 text-uppercase"></span>
                            </div>
                      
                          </div>
                        </div>
                      </form>
                      
                </div>
                <!-- Contact Form Ends -->
            </div>
        </div>
    
    </section>
</div>